<div class="container my-3">
  <div class="bg-light p-3 mb-3 border rounded">
    <div class="display-5">
      Content Projection Basic
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-success-text>
        Match over
      </app-success-text>
    </div>
    <div class="col-md-3">
      <app-card>
        <div class="title">India Vs Australia</div>
        <div class="description">India won the series!</div>
      </app-card>
    </div>
  </div>
<!--
  <div class="bg-light p-3 my-3 border rounded">
    <div class="display-5">
      Using ContentChild
    </div>
  </div>

  <div class="row">
    <app-content-child>
      <div #></div>
    </app-content-child>
  </div> -->

</div>
